<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>Home work 1</h1>
        <h3>Task 1. Создать кнопку "Перевернуть". При клике на кнопку текст кнопки должен перевернуться
            и отобразиться в обратном порядке.</h3>

        <p>{{ massage }}</p>
        <button @click="reversText()">Сlick on me!</button>
        <br>
        <hr>
        <br>
        <h3>Task 2-3. Есть список элементов. Пользователь может добавлять новые элементы списка
            с текстом “Новый элемент списка” нажав на кнопку "Добавить".<br>*Дополнительное задание: При клике на
            элемент
            списка он должен быть удален.</h3>
        <button @click="addItem">Добавить</button>
        <ul>
            <li v-for="(item, index) in itemList" :key="index" @click="removeItem(index)">
                {{ item }} {{ index }}
            </li>
        </ul>
        <hr>
        <h1 style="margin-top:70px;">Home work 2</h1>
        <h3>Вы разрабатываете приложение для отображения и сортировки списка товаров.
            <br>У вас есть массив объектов products, где каждый объект представляет товар с его названием и ценой.
            <br>Вам необходимо отобразить список товаров и предоставить пользователю возможность сортировать товары по
            цене (по возрастанию и по убыванию).
        </h3>
        <ul>
            <label for="">Цена: </label>
            <button @click="ascending">по возрастанию</button>
            <button @click="descending">по убыванию</button>
            <br>
            <br>
            <li v-for="(product, index) in products" :key="index">
                {{ product.name }} - {{ product.price }} руб.
            </li>
        </ul>


    </div>

    <script>
        const App = {
            data() {
                return {
                    massage: "привет",
                    itemList: [],
                    products: [
                        { name: "apple", price: 120 },
                        { name: "carrot", price: 18 },
                        { name: "watermelon", price: 45 },
                        { name: "stillWater", price: 80 },
                        { name: "cucumber", price: 109 },
                        { name: "potato", price: 200 },
                    ]
                };
            },
            methods: {
                reversText() {
                    let res = "";
                    for (let i = this.massage.length - 1; i >= 0; i--) {
                        res += this.massage[i];
                    }
                    this.massage = res;
                },
                addItem() {
                    this.itemList.push('Новый элемент списка');
                },
                removeItem(index) {
                    this.itemList.splice(index, 1);
                },
                ascending() {
                    this.products.sort((a, b) => a.price - b.price);
                },
                descending() {
                    this.products.sort((a, b) => b.price - a.price);
                }
            },
        };
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>